@use '../styles/variables' as *;
@use '../styles/mixins' as *;
@use '../styles/themes' as *;

.themeToggle {
  position: fixed;
  top: 40px;
  right: 10px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  color: $color-text;
  @include flex-center;
  z-index: 1000;

  opacity: 0.4;

  &:active {
    transform: scale(0.95);
  }

  background-color: $color-bg-secondary;

  .icon {
    width: 34px;
    height: 34px;
  }
}
