@use '../../../styles/variables' as *;

.container {
    background: rgba(0, 0, 0, 0.55);
    border-radius: $border-radius-md;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.locationName {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    white-space: nowrap;
}
